/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-footer {
    font-size: 80%;
    font-weight: normal;
    text-align: center;
}

.post-footer:before {
    border-top: 1px solid $grey-color-light;
    content: '';
    display: block;
    margin: 0 auto $spacing-unit;
    width: 50%;
}

.footnotes {
    font-size: 80%;

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure,
    %vertical-rhythm {
        margin-bottom: $spacing-unit * 0.4;
    }
}

.footnotes:before {
    border-top: 1px solid $grey-color-light;
    content: '';
    display: block;
    margin: $spacing-unit 0 1em * $base-line-height;
    width: 20%;
}

$shadow-height: 16px;

.dynamic-footnotes-footer {
    background: $background-color;
    background: linear-gradient(
        rgba($background-color, 0) 0,
        rgba($background-color, 0.81) 5px,
        rgba($background-color, 0.88) 6px,
        rgba($background-color, 0.94) 7px,
        $background-color 8px);
    bottom: 0;
    position: fixed;
    transform: translate3d(0, 9999px, 0);
    width: 100%;
}

.dynamic-footnote-ref {
    color: darken($brand-color, 15%);
}

.dynamic-footnotes {
    bottom: -$shadow-height;
    font-size: round($base-font-size * 0.8);
    line-height: round($base-font-size * 0.8 * $base-line-height);
    overflow-y: hidden;
    position: relative;

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure,
    %vertical-rhythm {
        margin-bottom: $spacing-unit / 3;
    }

    .reversefootnote {
        display: none;
    }
}

.dynamic-footnotes:before {
    margin: 0 0 -1px;
}

.dynamic-footnote-body {
    color: $text-color;
}

.dynamic-footnotes-scroller, .dynamic-footnotes-clipper, .dynamic-footnotes-anchor {
    bottom: 0;
    left: 0;
    height: 0;
    overflow: visible;
    position: absolute;
    right: 0;
}

.dynamic-footnotes-bounded {
    overflow-x: hidden;
    overflow-y: scroll;

    .dynamic-footnotes-clipper {
        overflow: hidden;
        position: relative;
        right: auto;
    }

    .dynamic-footnotes-anchor {
        bottom: auto;
    }
}

.dynamic-footnotes-pusher {
    bottom: 0;
    left: 0;
    margin: 15px $spacing-unit $shadow-height 0;
    position: absolute;
    right: 0;

    & > ol > li {
        color: darken($brand-color, 15%);
        margin: $spacing-unit / 3 0;
        opacity: 0;
        transform: translate3d(0, 0, 0); // Prevents jitter in Firefox
    }

}

.use-transitions {
    .dynamic-footnotes {
        transition: height 0.5s;
    }

    .dynamic-footnotes-pusher > ol > li {
        transition-duration: 0.5s;
        transition-property: opacity, transform;
    }


    .dynamic-footnotes-pusher {
        transition: transform 0.5s;
    }
}

.dynamic-footnote-visible {
    opacity: 1 !important;
}

@media print {
    .dynamic-footnotes-footer,
    .dynamic-footnotes,
    .dynamic-footnotes-scroller,
    .dynamic-footnotes-clipper,
    .dynamic-footnotes-anchor,
    .dynamic-footnotes-pusher {
        height: auto !important;
        max-height: none !important;
        overflow-x: visible !important;
        overflow-y: visible !important;
        position: static !important;
        transform: none !important;
        width: auto !important;
    }

    .dynamic-footnotes-pusher > ol > li {
        margin-top: $spacing-unit / 3 !important;
    }

    .dynamic-footnotes-padding {
        display: none !important;
    }

    .dynamic-footnote-hidden {
        opacity: 1 !important;
    }
}

.subscribe a::before {
    font-size: 1.25em;
    line-height: $base-line-height / 1.25;
    padding-right: 0.3em;
    vertical-align: -5%;
}

.subscribe-with-github::before {
    @include glyph('github');
}

.subscribe-with-rss::before {
    @include glyph('rss');
}

.prev-link::before {
    @include glyph('footer-ornament-left');
    padding-right: 0.5em;
}

.next-link::after {
    @include glyph('footer-ornament-right');
    padding-left: 0.5em;
}

.separator {
    cursor: text;
    display: inline-block;
    text-align: center;
    padding: 0 0.5em;
}

.subscribe a, .prev-link, .next-link {
    white-space: nowrap;
}
